{{#if controlWrapper}}
    <div class="{{controlWrapper}}">
        {{component controlView viewName=controlViewName property=propertyName id=cid}}
    </div>
{{else}}
    {{component controlView viewName=controlViewName property=propertyName id=cid}}
{{/if}}